.post-title-input,
.post-text-input {
	display: block;
	margin-bottom: 20px;
	width: 300px;
	height: 30px;
}

.new-post-btn {
	width: 300px;
	height: 30px;
}

.row {
	display: flex;
	gap: 20px;
}

.post__date {
	color: aqua;
}

.post__title {
	font-size: 28px;
}

.validationMassage {
	color: red;
}

.validationMassage-hidden {
	display: none;
}
